<br><br>
<body>
<button float="left">
    <img id = "para1" src="assets/images/leafrake.jpg" >
    <div class = "leafrake"><br>Name : Leaf Rake<br>Price : $50 <br>Rating : *****</div>
    </button>
    
<button float="right">
    <img  id = "para2" src="assets/images/gardencart.jpg">
    <div class = "Gardencart"><br>Name : Garden Cart<br>Price : $80 <br>Rating :***</div> 
</button>
<button float="left">
    <img id = "para2" src="assets/images/tea.jpg" >
    <div class = "Gardencart"><br>Name : Tea<br>Price : $10 <br>Rating : *****</div>
    </button>

    <button float="right">
        <img id = "paraespresso" src="assets/images/espresso.jpg" >
        <div class = "leafrake"><br>Name : Espresso<br>Price : $70 <br>Rating : ***</div>
        </button>

<br><br>

<button float="left">
<img id = "para3" src="assets/images/hammer.jpg" >
<div class = "hammer"><br>Name : Hammer<br>Price : $30 <br>Rating : *****</div>
</button>

<button float="right">
<img  id = "para4" src="assets/images/saw.jpg">
<div class = "saw"><br>Name : Saw<br>Price : $70 <br>Rating : **</div> 
</button>

<button float="right">
    <img  id = "para4" src="assets/images/cappuccino.jpg">
    <div class = "saw"><br>Name : <br>Price : $20 <br>Rating : ****</div> 
    </button>

</body>
<br><br><br>

<button class='btn btn-outline-secondary' 
style='width:80px'
(click)='onBack()'>
<i class='fa fa-chevron-left'></i> Home
</button>