   <!-- <div class = "well hoverwell thumbnail"></div>
  <div> {{event.name}}</div>
    <div> id : {{event.id}}</div>
      <div>  date : {{event.date}}</div>
      <div> time : {{event.time}}</div>
      <div> price : \${{event.price}</div>

 
<div>
<div>
    Welcome to {{title}}! -->
  
<!-- </div>
</div> --> 

<div><h1>Angular Product Mangement </h1></div>
            <tr>
              <th>
                  <ul class='home home-main'></ul>
                  <button><a [routerLink]="['/home']">Home</a></button>
                  </th>
            <th>
              <ul class='Profile Profile-pro' text-align="center">
                <button><a [routerLink]="['/profile']" >Profile</a> </button>
            </ul>
            </th>
            <th>
              <ul class='product product-productlist' text-align="center">
                <button><a [routerLink]="['/products']" >Products List</a></button>
            </ul>
            </th>
            <th>
              <ul class='product-view product-view-view' text-align="center">
                <button><a [routerLink]="['/productview']" >Products View</a></button>
            </ul>
            </th>
            <tr>
            <div class='container' text-align="center">
                  <router-outlet></router-outlet>
            </div>
            <!-- <div class = "app-product-view"></div> -->

            <!-- <br>
            <br>
           <div class="home/main.component.html" img-align="center"></div> -->
    <!-- <div class = "app-firstcomp"></div> -->

