div {
    color : black;
    text-align:center;
}
h1 
{
  background-color : lightpink;
}
td 
{
    color: black;
    font-size:small;
    text-align : center;
}
a
{
 
  color: black;
  font-size:medium;
  text-align : center;
  font-weight: 100;
}
button 
{
  background-color: pink;
}
p{
  text-align-last: center;
  color : Black;
}
li 
{
  align-items: left;
}
/* th {
  text-align:center;
} */
