<!-- <p>firstcomp works! {{name}}</p>
<div>
    first component template
    </div>
    <h3>{{"Welcome  " +name}}</h3>
    <h3>{{2+2}}</h3>
    <h3>2 + 2 = {{2+2}}</h3>
    <h3>Length {{name.length}}</h3>
    <h3>{{name.toUpperCase()}}</h3>
    <h3>Welcome {{name}}</h3>
<button> Name </button> -->
<!-- <table>
    <tr>
        <td>Name</td>
        <td>{{Name}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>{{Age}}</td>
    </tr>
    <tr>
        <td>Roll No</td>
        <td>{{No}}</td>
    </tr>
</table>   -->
<br><br>
<table>
    <tr>
        <td><h5>Product List</h5> </td>
        <th>Filter by : </th>
        <input type='text'/> 
    </tr>
    <br>
    <tr>
        <th>Filtered by : </th>
    </tr>
</table>
<hr/>

<table class='table'>          
    <tr>
        <th>
            <button class='btn-btn-primary'>
                Show Image
            </button>
        </th>
            <th id="para1">&nbsp;&nbsp;Product&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th id="para1">Code&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th id="para1"> Availabe &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th id="para1">Price&nbsp;&nbsp;</th>
            <th id="para1">&nbsp;&nbsp;5 Star Rating</th> 
</tr>
</table>
<hr/>
<table class='table'>          
    <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Leaf Rake</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;gdn 0011</th>
            <th>&nbsp;&nbsp;March 19,2021</th>
            <th>&nbsp;&nbsp;$19.95</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;***</th>
    </tr>
</table>
<hr/>
<table>
<tr>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Garden Cart</th>
    <th>&nbsp;&nbsp;&nbsp;gdn 0023</th>
    <th>&nbsp;&nbsp;March 18,2021</th>
    <th>&nbsp;&nbsp;$32.95</th>
    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;****</th>
</tr>
</table>
<hr/>
<table>
    <tr>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hammer</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbx 0048</th>
        <th>&nbsp;&nbsp;March 21,2021</th>
        <th>&nbsp;&nbsp;$8.40</th>
        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*****</th>
    </tr>
    </table>
    <hr/>
    <table>
        <tr>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Saw</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tbx 0022</th>
            <th>&nbsp;&nbsp;March 14,2021</th>
            <th>&nbsp;&nbsp;$35.95</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;****</th>
        </tr>
        </table>
        <hr/>
        <td class='card-footer' id="para3">
<button class='btn btn-outline-secondary' 
        style='width:80px'
        (click)='onBack()'>
        <i class='fa fa-chevron-left'></i> Back
    </button>
</td>
    <td class='card-footer' id="para2" >
        <button class='btn btn-outline-secondary' 
                style='width:80px'
                (click)='onNext()'>
                <i class='fa fa-chevron-left'></i>profile
            </button>
        </td>
<!-- <div class = 'card'>
    <div class = 'card-header'>
        Product List
    </div>
    <div class = 'card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by :</div>
            <div class='col-md-4'>
                <input type='text' />
            </div>
        </div>
   
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filtered by: </h4>
            </div>
        </div>
   
        <div class='table-responsive'>
            <table class='table'>
              
                    <tr>
                        <td>
                            <button class='btn-btn-primary'>
                                Show Image
                            </button>
                        </td>
                        <th>Product</th>
                            <th>Code</th>
                            <th> Availabe 
                            <th>Price</th>
                            <th>5 Star Rating</th>
                    </tr>
               
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



 -->
