<br><br>
<div><img src="assets/images/ngimg.png" img-align = "center" alt="angular" width=550px height="200px"></div>

<body>
    <div >Login</div><button>
    <div id ="para5">Username</div>
     <input id = "para1" type="text" placeholder="Username"><br><br>
     <div id ="para5">Password</div>
     <input id = "para1" type="password" placeholder="Password">
     <div id="para2">Forgot password? </div>
    </button>
    <br><br>
    <button id="para4" (click)='onClick()'>Login</button>
    <button id="para3">Cancel</button>
</body>





